@model IEnumerable<NH645015_MIS4200.Models.VisitDetail>

@{
    ViewBag.Title = "Index";
}

<h2>Overview of recent visits</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-striped table-bordered table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Pet.petName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vet.firstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.visitDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.price)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Pet.petName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vet.firstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.visitDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.price)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.visitID }) |
            @Html.ActionLink("Details", "Details", new { id=item.visitID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.visitID })
        </td>
    </tr>
}

</table>
